html{
    width:100%;
    height: 100%;
    
}
body{
    background-image: url("abstract-blue-background-simple-design-for-your-website-free-vector.webp");
}
table, th, td tr {
  border:3px solid black;
  margin-left: 350px;
  text-align: left;
  font-family: 'Work Sans', sans-serif;

}
table{
    justify-content: center;
    background-color: white;
}
h1{
    text-align: center;
    font-family: 'Work Sans', sans-serif;

}
.content{
    margin: auto;
}
p{
    text-align: arial;
    size: 14px;
}
.foto {
    text-align: center;
}
th{
    padding-left: 10px;
}
.pict-sosmed{
    width: 20px;
    height: 20px;
}